/* base */
@import "./base/reset.css";
@import "./base/tipography.css";
@import "./base//colors.css";

/* components */
@import "./components/button.css";

/* home */
@import "./layout/home/header.css";
@import "./layout/home/bike-list.css";
@import "./layout/home/introduction.css";
@import "./layout/home/technology.css";
@import "./layout/home/partners.css";
@import "./layout/home/testimonial.css";
@import "./layout/home/footer.css";

/* pages */
@import "./layout/pages/insurance.css";
@import "./layout/pages/terms.css";
@import "./layout/pages/bicycles.css";

body {
  max-width: 1100px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid black; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: fit-content;
  display: block;
}

img {
  border-radius: 5px;
  box-shadow: 0 0 2px 0.3px white;
}

img[src$=".svg"] {
  border-radius: 0;
  box-shadow: none;
}

.line-break {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: var(--text-5xl);
}

.subtitle {
  font-size: var(--text-3xl);
}

.title,
.subtitle {
  font-family: "Poppins";

}

.white {
  color: white;
}

.gray {
  color: var(--gray-4);
}

.uppercase {
  text-transform: uppercase;
}

@media (width <= 768px) {
  .title {
    font-size: var(--text-4xl);
  }

  .subtitle {
    font-size: var(--text-2xl);
    font-family: "Poppins";
  }
}
