* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background-color: black;
}

.header {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding-block: 16px;
  color: white;
  font-size: 18px;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  margin-top: 4px;
  position: absolute;

}

.header-menu a:hover::after {
  width: 100%;
  transition: .3s;
}

@media (width <= 600px) {
  .header-menu {
    gap: 15px;
  }

  .header-menu a {
    background: #111111;
    padding: 8px 12px;
    border-radius: 4px;
    /* font-size: 14px; */
  }

  .header-menu a:hover {
    background-color: #2e2e2e;
  }

  .header-menu a::after {
    display: none;
  }
}
