:host {
  display: inline-block;
  line-height: 0;
}

:host([icon="darkMode"]) svg,
:host([icon="lightMode"]) svg {
  animation: fadeIn 0.4s;
}

/* :host([icon="darkMode"]) svg {
  fill: var(--blue-6);
} */

/* :host([icon="lightMode"]) svg {
  fill: var(--yellow-5);
} */

button {
  all: unset;
  cursor: pointer;
  padding: 5px;
}

svg {
  fill: var(--icon-color);
}

.btn--with-label {
  display: inline-block;
  width: max-content;
  padding: 18px 11px 17px 11px;
  background:
  linear-gradient(to bottom, var(--slate-5), var(--slate-7));
  background-color: var(--slate-5);
  color: white;
  border: 1px solid var(--slate-5);
  border-radius: var(--border-radius);
  font-weight: 900;
}

.btn--with-label:hover {
  box-shadow:
  0 0 5px var(--slate-5);
  transition: var(--transition-box-shadow)
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.6);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
