.logo__container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    text-decoration: none;
  }
  
  .logo__container img {
    width: 38px;
    box-shadow: none;
    filter: var(--logo)
  }

  .logo__container span {
    font-size: 1.6rem;
    font-weight: 900;
    font-family: "Orbitron", sans-serif;
  }


  @media (max-width: 630px) {
    .logo__container {
      flex-direction: column
    }

     .logo__container img {
      width: 60px;
     }
  }