.footer-bg {
  background: black;
}

.footer-container {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  color: white;
  align-items: start;
}

.footer-items {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
}

footer li {
  margin-bottom: 5px;
}

footer a:hover {
color: var(--gray-4);
}

.footer-items::before {
  content: "";
  width: 7px;
  height: 13px;
  background: var(--slate-4);
  position: absolute;
  left: -15px;
  top: 7px;
}

.social-flex {
  display: flex;
  gap: 10px;
}

.rights {
  color: white;
  padding: 20px;
}

@media (width <= 550px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
