.header-bg {
  background: black;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo-flex {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo {
  background: white;
  filter: invert(0);
  padding: 5px;
  width: 40px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: white;
  display: inline-block;
  font-size: 1.125rem;
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
}

.header-menu a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
  transition: 0.3s;
}

@media (width <= 768px) {
  .header-menu {
    gap: 15px;
  }

  .header-menu a {
    background: var(--gray-9);
    border-radius: 4px;
    font-size: 17px;
    padding: 10px;
  }

  .header-menu a:hover {
    background-color: var(--gray-7);
  }

  .header-menu a::after {
    display: none;
  }
}

@media (width <= 541px) {
  .header {
    padding-top: 30px;
    justify-content: center;
  }
}
