.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  height: 293px;
  margin-bottom: 40px;
}

.introduction h1 {
  color: white;
  font-weight: 600;
}

.introduction p {
  color: var(--gray-4);
}

.introduction img {
  position: relative;
  top: 70px;
  transform: rotate(3deg);
  width: 450px;
  margin: auto;
}

@media (width <= 972px) {
  .introduction {
    grid-template-columns: 1fr;
    gap: 32px;
    height: auto;
    margin-bottom: auto;
  }

  .introduction-content {
    width: 100%;
  }

  .introduction img {
    position: static;
    width: 100%;
    transform: rotate(0deg);
    margin: 0 auto;
  }
}

@media (width <= 499px) {
  .introduction h1 {
    padding: 0;
  }
}
