.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  box-shadow: inset 0 -53px 0 black;
  padding: 60px 20px 20px 20px;
}

.introduction h1 {
  color: white;
  /* margin-top: 20px; */
}

.introduction p {
  color: var(--gray-4);
  font-size: var(--text-xl);
  font-family: "Roboto";
}

.introduction img {
  position: relative;
  top: 60px;
  transform: rotate(3deg);
  width: 450px;
  /* width: 600px; */
  margin: auto;
}

@media (width <= 1060px) {
  .introduction h1 {
    font-size: 2.9rem;
  }
}

@media (width <= 1028px) {
  .introduction h1 {
    font-size: 2.8rem;
  }
}

@media (width <= 994px) {
  .introduction h1 {
    font-size: 2.7rem;
  }
}

@media (width <= 972px) {
  .introduction {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introduction h1 {
    font-size: 3rem;
  }

  .introduction-content {
    width: 100%;
  }

  .introduction img {
    position: static;
    width: 60%;
    transform: rotate(0deg);
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (width <= 768px) {
  .introduction img {
    width: 90%;
  }
}

@media (width <= 400px) {
  .introduction img {
    width: 100%;
  }
}
