.partners {
  padding: 30px 0;
  overflow: hidden;
  position: relative;

}

.partners h1 {
  text-align: center;
  margin: 10px 0 30px 0;
}

.logos {
  display: flex;
  align-items: center;
  width: calc(200%);
  animation: slide 20s infinite linear;
  height: 100px;

}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -100%
    );
  }
}

/* @keyframes slide {
  100% {
    transform: translateX(-100%);
  }
} */

.partners img {
  width: 200px;
  min-width: 200px;
  display: inline-block;
  margin: 10px;
  padding-inline: 25px;
}

.partners:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
  z-index: 2;
}
.partners:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
  z-index: 2;
}

@media (width <= 768px) {
  .logos {
    height: 50px;

    animation: slide 10s infinite linear;
  }
}

@media (width <= 450px) {
  .logos {
    animation: slide 10s infinite linear;
  }

  .partners img {
    width: 80px;
    min-width: 150px;
    margin: 0px;
    padding-inline: 20px;
  }
}