.partners {
  padding: 30px 0;
  overflow: hidden;
  position: relative;
}

.partners-slide {
  white-space: nowrap;
  animation: slide 15s infinite linear;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.partners:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0) );
  z-index: 2;
}
.partners:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0) );
  z-index: 2;
}

.partners img {
  width: auto;
  height: auto;
  display: inline-block;
  padding-inline: 20px;
}
