.technology {
  padding-inline: 20px;
}

.technology-imgs {
  position: relative;
}

.technology-repair {
  margin: 30px auto;
  width: 93%;
}

.technology-handlebar {
  width: 22%;
  margin-left: 20px;
  position: absolute;
  top: -20px;
}

.technology-colors {
  width: 30%;
  margin-right: 20px;
  position: absolute;
  bottom: -25px;
  right: 0;
}

.tech-grid {
  display: grid;
  grid-template-columns: 38% 1fr;
  gap: 10px;
}

.technology-repair-grid {
  grid-column: span 2;
}

.technology-handlebar-grid {
  height: 100%;
}

.technology-content {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px 30px 0 30px;
}

.technology-content h2 {
  color: var(--gray-4);
  text-transform: uppercase;
}

.technology-content h2 span {
  color: var(--orange-4);
}

.technology-content p {
  color: var(--gray-4);
  font-size: var(--text-xl);
}

.flex-icons {
  display: flex;
  gap: 12px;
  align-items: center;
  width: fit-content;
}

.technology span {
  color: white;
}

.technology-icons img {
  width: 32px;
}

.technology-icons img,
.technology-icons h4 {
  padding-bottom: 15px;
}

.technology-frame {
  width: 70%;
  margin: 10px auto 30px auto;
  background: white;
}

@media (width >= 768px) {
  .tech-grid {
    display: none;
  }
}

@media (width <= 768px) {
  .tech-grid {
    margin: 15px 10px 10px 10px;
  }

  .technology-repair {
    display: none;
  }

  .technology-handlebar {
    display: none;
  }

  .technology-colors {
    display: none;
  }

  .technology-content {
    grid-template-columns: 1fr;
    padding: 20px 20px 0 20px;
    bottom: 0;
  }

  .technology p {
    font-size: var(--text-lg);
  }

  .technology-frame {
    margin: 0 auto 20px auto;
  }
}
