.technology h1 {
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--cyan-4);
  text-shadow: 1px 1px 10px var(--cyan-4);
  padding-bottom: 50px;
}

.technology-imgs {
  position: relative;
}

.technology-bicycle-shop {
  margin: auto 30px;
  width: 93%;
}

.technology-repair {
  width: 30%;
  margin-left: 20px;
  position: absolute;
  top: -20px;
  /* border-right: 5px solid black;
  border-bottom: 5px solid black; */
}

.technology-colors {
  width: 30%;
  margin-right: 20px;
  position: absolute;
  bottom: -25px;
  right: 0;
  /* border-left: 5px solid white;
  border-top: 5px solid white; */
}

.tech-grid {
  display: grid;
  grid-template-columns: 38% 1fr;
  gap: 10px;
}

.technology-bicycle-shop-grid {
  grid-column: span 2;
}

.technology-repair-grid {
  height: 100%;
}

.technology-content {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.technology h2 {
  text-transform: uppercase;
  -webkit-text-stroke: 0.5px var(--cyan-4);
  text-shadow: 1px 1px 10px var(--cyan-4);
}

.technology h3 {
  -webkit-text-stroke: 0.5px var(--cyan-4);
  text-shadow: 1px 1px 10px var(--cyan-4);
}

.technology p {
  color: var(--gray-4);
}

.flex-icons {
  display: flex;
  gap: 12px;
  align-items: center;
  width: fit-content;
}

.technology-icons img {
  width: 32px;
  box-shadow: none;
}

.technology-icons img,
.technology-icons h3 {
  padding-bottom: 15px;
}

@media (width <= 972px) {
  .technology h1 {
    padding-top: 30px;
  }
}

@media (width > 768px) {
  .tech-grid {
    display: none;
  }
}

@media (width <= 768px) {
  .tech-grid {
    margin: 0 10px;
  }

  .technology-bicycle-shop {
    display: none;
  }

  .technology-repair {
    display: none;
  }

  .technology-colors {
    display: none;
  }

  .technology-content {
    grid-template-columns: 1fr;
  }
}
