.testimonial {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: var(--orange-3);
}

.testimonial-content {
  padding: 40px 80px;
  align-self: end;
}

.testimonial div img {
  border-radius: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-content p {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 30px;
  position: relative;
  line-height: 1.2;
}

.testimonial p::before,
.testimonial p::after {
  font-size: 5rem;
  color: var(--orange-2);
  position: absolute;
}

.testimonial p::before {
  content: "“";
  left: -40px;
  top: -40px;
}

.testimonial p::after {
  content: "”";
}

.testimonial-content span {
  font-weight: bold;
  font-style: normal;
  font-size: 1.2rem;
}

@media (width <= 768px) {
  .testimonial {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
