.introduction-bg {
  background: black;
}

.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
  padding: 30px;
}

/* .introducao-conteudo {
  padding-top: 50px;
} */

.introduction h1 {
  font-weight: 600;
  font-size: 4rem;
  font-size: var(--text-5xl);
  line-height: 1.125;
  font-family: "Poppins";
  color: white;
  margin-bottom: 32px;
}

.introduction img {
  max-width: 45%;
  position: absolute;
  top: 250px;
}

.introduction h1 span {
  color: var(--orange-4);
}

.introduction p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: var(--text-xl);
  line-height: 1.5;
  color: var(--gray-4);
}

@media (width <= 768px) {
  .introduction-bg {
    background: var(--gray-9);
  }

  .introduction {
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 20px;
  }

  .introduction h1 {
    font-size: var(--text-4xl);
    margin-bottom: 16px;
  }

  .introduction p {
    font-size: var(--text-lg);
  }

  .introduction img {
    position: static;
    /* margin: 0 auto; */
    width: 100%;
  }
}
