.technology-bg {
  background: var(--gray-10);
  border-radius: 5px;
}

.technology {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.technology-content {
  padding: 20px;
}

.technology span {
  color: var(--gray-4);
  font-size: var(--text-xl);
  text-transform: uppercase;
}

.technology h2 span {
  color: var(--orange-4);
}

.technology h2 {
  color: white;
  font-weight: 600;
  font-size: 4rem;
  font-size: var(--text-5xl);
  line-height: 1.125;
  font-family: "Poppins";
}

.technology p {
  color: var(--gray-4);
  font-size: var(--text-xl);
}

.technology h3 {
  color: white;
}

.technology-eletric-tracking {
  display: flex;
  gap: 30px;
}

.technology a {
  width: fit-content;
}

.technology-img-tool {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

@media (width <= 768px) {
  .technology {
    grid-template-columns: 1fr;
  }
}
