.bicycle-info .bg {
  padding: 20px;
  border-radius: 5px;
}

/* .bicycle-info .cycle {
    min-width: 200px;
} */

.bicycle-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-inline: 20px;
}

.purchase {
  display: flex;
  gap: 20px;
  height: fit-content;
}

.purchase img {
  width: 20px;
}

.purchase .icon-flex {
  display: flex;
  gap: 8px;
}

@media (width <= 768px) {
  .bicycle-info {
    grid-template-columns: 1fr;
  }
}
