.bicycle-presentation {
  padding: 0 20px;
}

.bicycle-info {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 15px;
  margin-inline: 20px;
}

.bicycle-info .bg {
  padding: 20px;
  border-radius: 5px;
}

.bicycle-info .bike {
  min-width: 400px;
  margin-bottom: 19px;
}

.technical li {
  display: flex;
  justify-content: space-between;
}

.purchase {
  display: flex;
  gap: 20px;
  height: fit-content;
}

.purchase img {
  width: 20px;
}

.purchase .icon-flex {
  display: flex;
  gap: 8px;
}

@media (width <= 768px) {
  .bicycle-info {
    grid-template-columns: 1fr;
  }
}
