.bicycles-container h1 {
  color: white;
}

.bicycles-container h2 {
  color: var(--gray-4);
}

.bicycles-card-container {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 15px;
  padding: 10px;
  overflow-x: auto;
}

.bicycles-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  margin-block: 30px;
  background: lightgray;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); */
  box-shadow: 0 0 5px white;
  border-radius: 5px;
  transition: transform 0.3s ease;
  position: relative;
}

.bicycles-card p {
  flex-grow: 1;
}

.price-nimbus,
.price-magic,
.price-nebula {
  position: absolute;
  color: white;
  background: black;
  padding: 3px 9px 3px 9px;
  border-radius: 5px 5px 5px 0;
  border: 1px solid lightgray;
  top: 10px;
  left: 10px;
}

.bicycles-card:hover {
  transform: scale(1.02);
}

@media (width <= 450px) {
  
}
