.bicycles-container h1 {
  -webkit-text-stroke: 1px var(--cyan-4);
  text-shadow: 1px 1px 10px var(--cyan-4);
  text-transform: uppercase;
}

.bicycles-container h2 {
  -webkit-text-stroke: 1px var(--gray-4);
  text-shadow: 1px 1px 10px var(--gray-4);
  text-transform: uppercase;
}

.bicycles-card-container {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 15px;
  padding: 10px;
  overflow-x: auto;
}

.bicycles-card {
  padding: 10px;
  margin-block: 10px;
  background: lightgray;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); */
  box-shadow: 0 0 5px white;
  border-radius: 5px;
  transition: transform 0.3s ease;
  position: relative;
}

.bicycles-card div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bicycles-card p {
  flex-grow: 1;
}

.price-position {
  position: absolute;
  color: white;
  background: black;
  padding: 3px 9px 3px 9px;
  border-radius: 5px 0 5px 0;
  border: solid;
  border-width: 0 1px 1px 0;
  box-shadow: 0 0 1px .3px white;
  top: 10px;
  left: 10px;
}

.bicycles-card:hover {
  transform: scale(1.02);
}

@media (width <= 450px) {
}
