.bikes__wrapper {
  margin: 0 auto;
  justify-content: center;
}

.bikes__carousel {
  margin-top: 48px;
  box-shadow: var(--box-shadow);
  display: flex;
  margin-inline: 40px;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge antigos */
  scroll-snap-type: x mandatory;
}

.bikes__carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.bikes__carousel__img-wrapper {
  position: relative;
}

.bikes__carousel__button-left {
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.bikes__carousel__button-right {
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.bikes__carousel__button-left,
.bikes__carousel__button-right {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
  padding-top: 0.1rem;
  position: absolute;
  z-index: 1;
}

.bikes__carousel__card {
  flex: 0 0 100%;
  scroll-snap-align: start;
  border: 2px solid var(--slate-5);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.bikes__carousel__card-img {
  outline: 1px solid var(--slate-5);
}

.bikes__carousel__info {
  padding: 7px 10px 10px 10px;
  background-color: black;
}

.bikes__carousel__card h3 {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.bikes__carousel__card h2,
.bikes__carousel__card h3,
.bikes__carousel__card p {
  text-align: justify;
}

.bikes__carousel__description {
  margin-bottom: 20px;
}

.bikes__carousel__button-link {
  position: static;
}

@media (max-width: 700px) {
  .bikes__carousel {
    margin-inline: 0px;
  }
}
