.wrapper {
  /* display: flex;
  align-items: center; */
  margin: 0 auto;
  justify-content: center;
  position: relative;
  width: clamp(300px, 100vw, 600px);
}

.carousel {
  display: flex;
  margin-inline: 40px;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge antigos */

  scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.left-button {
  padding-right: 0.1rem;
  left: 25px;
}

.right-button {
  padding-left: 0.1rem;
  right: 25px;
}

.right-button,
.left-button {
  top: 30%;
  width: 35px;
  height: 35px;
  font-size: 1.4rem;
  border-radius: 50%;
  background-color: var(--slate-3);
  cursor: pointer;
  border: none;
  padding-top: 0.1rem;
  position: absolute;
}

.card {
  flex: 0 0 100%;
  scroll-snap-align: start;
  border-radius: var(--border-radius);
  border: 1px solid var(--slate-5);
  overflow: hidden;
}

.card img {
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 20px;
  font-size: 1rem;
}

.card h2,
h3,
p {
  padding: var(--padding);
  text-align: justify;
}
