:root {
  --border-thicker: 2px solid var(--slate-4);
  --padding-info-tech: 11px 17px 8px 15px;
}

.bike__description {
  margin-bottom: var(--margin);
}

.bike__container__img-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.bike__imgs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bike__img-angles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.bike__img {
  border: var(--border-thicker);
  border-radius: var(--border-radius);
}

.bike__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  background: black;
  padding: var(--padding-info-tech);
  border: var(--border-thicker);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-bottom: 20px;
}

.bike__tech-specs {
  background: black;
  padding: var(--padding-info-tech);
  border: var(--border-thicker);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.bike__tech-specs-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--slate-6);
  padding-top: 7px;
}

.bike__tech-specs-list:first-child {
  padding-top: 0;
}

.bike__tech-specs-list:last-child {
  border-bottom: none;
}

.bike__buy-now__wrapper {
  display: flex;
  /* align-items: center; */
  gap: 15px;
}

.bike__method-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-block: 6px;
}

.bike__method {
  background-color: black;
  width: max-content;
  padding: 5px;
  font-size: 0.8rem;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 680px) {
  .bike__container__img-info {
    grid-template-columns: 1fr;
  }
}
