:root {
  --border-rider-a1: 2px solid #9cdfe8;
  --padding-info-tech: 11px 17px 8px 15px;
}

.bike__container {
}

.bike__description {
  margin-bottom: var(--margin);
}

.bike__img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.bike__img {
  border: var(--border-rider-a1);
  border-radius: var(--border-radius);
}

.bike__img-1 {
  grid-column: 1 / 3;
}

.bike__container__img-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.bike__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  background: black;
  padding: var(--padding-info-tech);
  border-radius: var(--border-radius);
  border: var(--border-rider-a1);
  margin-bottom: 20px;
}

.bike__info-list {
  /* padding: 10px; */
}

.bike__tech-specs {
  background: black;
  padding: var(--padding-info-tech);
  border: var(--border-rider-a1);
  border-radius: var(--border-radius);
}

.bike__tech-specs-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--slate-6);
  padding-top: 7px;
}

.bike__tech-specs-list:first-child {
  padding-top: 0;
}

.bike__tech-specs-list:last-child {
  border-bottom: none;
}

.bike__buy-now__wrapper {
  display: flex;
  /* align-items: center; */
  gap: 10px;
}

button {
  padding-inline: 12px;
  background: linear-gradient(to right, var(--slate-2), var(--slate-8));
  font-weight: bold;
  border: var(--border-rider-a1);
  border-radius: var(--border-radius);
}

.bike__method-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bike__method {
  background-color: black;
  width: max-content;
  padding: 5px;
  font-size: .8rem;
  border-radius: var(--border-radius);
}

@media (max-width: 1022) {
  
}
