.checkout__container {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
}

.checkout__title-description {
  margin-bottom: 48px;
}

.checkout__container span,
.checkout__container label {
  display: block;
  color: var(--slate-5);
}

.checkout__container label {
  margin-bottom: 5px;
}

.checkout__payment-description {
  font-size: 0.9rem;
  color: var(--slate-4);
}

.checkout__title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.4rem;
}

.checkout__payment-details,
.checkout__summary {
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--slate-1);
  box-shadow: var(--box-shadow);
  padding: 20px;
}

.checkout__credit-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkout__credit-cards img {
  width: 40px;
  box-shadow: none
}

.checkout__payment-details {
  display: flex;
  flex-direction: column;
}

.checkout__container input,
.checkout__container select {
  border: var(--border);
  border-radius: 4px;
  width: 100%;
}

.checkout__container select {
  padding: 7px 4px;
  font-size: 0.9rem;
  color: var(--slate-5);
}

.checkout__container input {
  padding: 8px;
  font-size: 0.9rem;
}

.checkout__card-data {
  display: grid;
  grid-template-columns: 45% auto auto;
  gap: 10px;
}

.checkout__card-data__card-number {
  position: relative;
}

.checkout__country-city {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
}

.checkout__state-zip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.checkout__price {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.checkout__price div {
  display: flex;
  justify-content: space-between
}

.checkout__secure-msg {
  font-size: 0.9rem;
  color: var(--slate-4);
}

.checkout__secure-msg__wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkout__secure-msg__wrapper img {
  box-shadow: none;
  width: 18px
}

@media (max-width: 703px) {
  .checkout__container {
    grid-template-columns: 1fr;
  }
}
