.checkout__container {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.checkout__container span {
  display: block;
}

.checkout__description {
  font-size: 0.9rem;
}

.checkout__title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.4rem;
}

.checkout__payment-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 20px;
}

.checkout__container input,
.checkout__container select {
  padding: 3px;
  border-radius: var(--border-radius);
}

.checkout__card-data {
  display: flex
}

.checkout__state-zip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.checkout__summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 20px;
}

@media (max-width: 600px) {
  .checkout__container {
    grid-template-columns: 1fr;
  }
}
