.home__introduction {
  position: relative;
}

.home__people-riding {
  width: 100%;
  box-shadow: none;
  border-radius: 0;
}

.home__introduction div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 290px;
  padding: 5px 10px 7px 10px;
}

#future {
  display: inline-block;
  color: var(--cyan-3);
  text-shadow: 0 0 8px var(--cyan-4), 0 0 16px var(--cyan-4),
    0 0 24px var(--cyan-4);
  -webkit-text-stroke: 1px var(--cyan-3);
}

.home__technology {
  display: flex;
  gap: 20px;
}

.home__review-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  background-color: var(--gray-2);
}

.home__review-container img {
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

.home__review {
  color: #080808;
  padding: 50px;
}

.home__review-text {
  font-size: 1.3rem;
  position: relative;
  margin-bottom: 30px;
  font-style: italic;
}
.home__review-text,
.home__review-text_name {
  color: var(--slate-7);
}

.home__review-text::after,
.home__review-text::before {
  position: absolute;
  font-size: 5rem;
  color: var(--slate-4);
}

.home__review-text::before {
  content: "“";
  top: -30px;
  left: -35px;
}

.home__review-text::after {
  content: "”";
  bottom: -70px;
}

.home__partners {
  text-align: center;
}

.home__partners-slider {
  display: flex;
  margin-top: 50px;
  width: 100%;
  overflow: hidden;
}

.home__partners-slider__group {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 50px;

  padding-left: 50px;
  height: 60px;

  animation: spin 14s infinite linear;
}

.home__partners-slider__group img {
  box-shadow: none;
}

/* Carousel */
@keyframes spin {
  to {
    translate: -100%;
  }
}

.home__partners-slider__group li {
  margin-block: 50px;
}

@media (max-width: 600px) {
  .home__technology {
    flex-direction: column;
  }
}

@media (max-width: 730px) {
  .home__review-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 790px) {
  .home__introduction {
    flex-direction: column;
  }

  .home__introduction div {
    position: static;
    width: 100%;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
  }
}

@media (max-width: 850px) {
  .home__review-text {
    font-size: 1rem;
  }
}
