:root {
  --orange-4: #fb923c;
}

.black {color: black;}
.white {color: white;}

.slate-0 {color: #f8fafc;}
.slate-1 {color: #f1f5f9;}
.slate-2 {color: #e2e8f0;}
.slate-3 {color: #cbd5e1;}
.slate-4 {color: #94a3b8;}
.slate-5 {color: #64748b;}
.slate-6 {color: #475569;}
.slate-7 {color: #334155;}
.slate-8 {color: #1e293b;}
.slate-9 {color: #0f172a;}
.slate-10 {color: #020617;}

.gray-0 {color: #f9fafb;}
.bg-gray-0 {background: #f9fafb;}
.gray-1 {color: #f3f4f6;}
.bg-gray-1 {background: #f3f4f6;}
.gray-2 {color: #e5e7eb;}
.bg-gray-2 {background: #e5e7eb;}
.gray-3 {color: #d1d5db;}
.bg-gray-3 {background: #d1d5db;}
.gray-4 {color: #9ca3af;}
.bg-gray-4 {background: #9ca3af;}
.gray-5 {color: #6b7280;}
.bg-gray-5 {background: #6b7280;}
.gray-6 {color: #4b5563;}
.bg-gray-6 {background: #4b5563;}
.gray-7 {color: #374151;}
.bg-gray-7 {background: #374151;}
.gray-8 {color: #1f2937;}
.bg-gray-8 {background: #1f2937;}
.gray-9 {color: #111827;}
.bg-gray-9 {background: #111827;}
.gray-10 {color: #030712;}
.bggray-10 {background: #030712;}

.neutral-0 {color: #fafafa;}
.neutral-1 {color: #f5f5f5;}
.neutral-2 {color: #e5e5e5;}
.neutral-3 {color: #d4d4d8;}
.neutral-4 {color: #a3a3a3;}
.neutral-5 {color: #737373;}
.neutral-6 {color: #525252;}
.neutral-7 {color: #404040;}
.neutral-8 {color: #262626;}
.neutral-9 {color: #171717;}
.neutral-10 {color: #0a0a0a;}

.red-0 {color: #fef2f2;}
.red-1 {color: #fee2e2;}
.red-2 {color: #fecaca;}
.red-3 {color: #fca5a5;}
.red-4 {color: #f87171;}
.red-5 {color: #ef4444;}
.red-6 {color: #dc2626;}
.red-7 {color: #b91c1c;}
.red-8 {color: #991b1b;}
.red-9 {color: #7f1d1d;}
.red-10 {color: #450a0a;}

.orange-0 {color: #fff7ed;}
.orange-1 {color: #ffedd5;}
.orange-2 {color: #fed7aa;}
.orange-3 {color: #fdba74;}
.bg-orange-3 {background: #fdba74;}
.orange-4 {color: #fb923c;}
.orange-5 {color: #f97316;}
.orange-6 {color: #ea580c;}
.orange-7 {color: #c2410c;}
.orange-8 {color: #9a3412;}
.orange-9 {color: #7c2d12;}
.orange-10 {color: #431407;}

.amber-0 {color: #fffbeb;}
.amber-1 {color: #fef3c7;}
.amber-2 {color: #fde68a;}
.amber-3 {color: #fcd34d;}
.amber-4 {color: #fbbf24;}
.amber-5 {color: #f59e0b;}
.amber-6 {color: #d97706;}
.amber-7 {color: #b45309;}
.amber-8 {color: #92400e;}
.amber-9 {color: #78350f;}
.amber-10 {color: #451a03;}

.yellow-0 {color: #fefce8;}
.yellow-1 {color: #fef9c3;}
.yellow-2 {color: #fef08a;}
.yellow-3 {color: #fde047;}
.yellow-4 {color: #facc15;}
.yellow-5 {color: #eab308;}
.yellow-6 {color: #ca8a04;}
.yellow-7 {color: #a16207;}
.yellow-8 {color: #854d0e;}
.yellow-9 {color: #713f12;}
.yellow-10 {color: #422006;}

.lime-0 {color: #f7fee7;}
.lime-1 {color: #ecfccb;}
.lime-2 {color: #d9f99d;}
.lime-3 {color: #bef264;}
.lime-4 {color: #a3e635;}
.lime-5 {color: #84cc16;}
.lime-6 {color: #65a30d;}
.lime-7 {color: #4d7c0f;}
.lime-8 {color: #3f6212;}
.lime-9 {color: #365314;}
.lime-10 {color: #1a2e05;}

.green-0 {color: #f0fdf4;}
.green-1 {color: #dcfce7;}
.green-2 {color: #bbf7d0;}
.green-3 {color: #86efac;}
.green-4 {color: #4ade80;}
.green-5 {color: #22c55e;}
.green-6 {color: #16a34a;}
.green-7 {color: #15803d;}
.green-8 {color: #166534;}
.green-9 {color: #14532d;}
.green-10 {color: #052e16;}

.teal-0 {color: #f0fdfa;}
.teal-1 {color: #ccfbf1;}
.teal-2 {color: #99f6e4;}
.teal-3 {color: #5eead4;}
.teal-4 {color: #2dd4bf;}
.teal-5 {color: #14b8a6;}
.teal-6 {color: #0d9488;}
.teal-7 {color: #0f766e;}
.teal-8 {color: #115e59;}
.teal-9 {color: #134e4a;}
.teal-10 {color: #042f2e;}

.cyan-0 {color: #ecfeff;}
.cyan-1 {color: #cffafe;}
.cyan-2 {color: #a5f3fc;}
.cyan-3 {color: #67e8f9;}
.cyan-4 {color: #22d3ee;}
.cyan-5 {color: #06b6d4;}
.cyan-6 {color: #0891b2;}
.cyan-7 {color: #0e7490;}
.cyan-8 {color: #155e75;}
.cyan-9 {color: #164e63;}
.cyan-10 {color: #083344;}

.sky-0 {color: #f0f9ff;}
.sky-1 {color: #e0f2fe;}
.sky-2 {color: #bae6fd;}
.sky-3 {color: #38bdf8;}
.sky-4 {color: #38bdf8;}
.sky-5 {color: #0ea5e9;}
.sky-6 {color: #0284c7;}
.sky-7 {color:  #0369a1;}
.sky-8 {color: #075985;}
.sky-9 {color: #0c4a6e;}
.sky-10 {color: #082f49;}

.blue-0 {color: #eff6ff;}
.blue-1 {color: #dbeafe;}
.blue-2 {color: #bfdbfe;}
.blue-3 {color: #93c5fd;}
.blue-4 {color: #60a5fa;}
.blue-5 {color: #3b82f6;}
.blue-6 {color: #2563eb;}
.blue-7 {color: #1d4ed8;}
.blue-8 {color: #1e40af;}
.blue-9 {color: #1e3a8a;}
.blue-10 {color: #172554;}

.indigo-0 {color: #eef2ff;}
.indigo-1 {color: #e0e7ff;}
.indigo-2 {color: #c7d2fe;}
.indigo-3 {color: #a5b4fc;}
.indigo-4 {color: #818cf8;}
.indigo-5 {color: #6366f1;}
.indigo-6 {color: #4f46e5;}
.indigo-7 {color: #4338ca;}
.indigo-8 {color: #3730a3;}
.indigo-9 {color: #312e81;}
.indigo-10 {color: #1e1b4b;}

.violet-0 {color: #f5f3ff;}
.violet-1 {color: #ede9fe;}
.violet-2 {color: #ddd6fe;}
.violet-3 {color: #c4b5fd;}
.violet-4 {color: #a78bfa;}
.violet-5 {color: #8b5cf6;}
.violet-6 {color: #7c3aed;}
.violet-7 {color: #6d28d9;}
.violet-8 {color: #5b21b6;}
.violet-9 {color: #4c1d95;}
.violet-10 {color: #2e1065;}

.purple-0 {color: #faf5ff;}
.purple-1 {color: #f3e8ff;}
.purple-2 {color: #e9d5ff;}
.purple-3 {color: #d8b4fe;}
.purple-4 {color: #c084fc;}
.purple-5 {color: #a855f7;}
.purple-6 {color: #9333ea;}
.purple-7 {color: #7e22ce;}
.purple-8 {color: #6b21a8;}
.purple-9 {color: #581c87;}
.purple-10 {color: #3b0764;}

.fuchsia-0 {color: #fdf4ff;}
.fuchsia-1 {color: #fae8ff};
.fuchsia-2 {color: #f5d0fe;}
.fuchsia-3 {color: #f0abfc;}
.fuchsia-4 {color: #e879f9;}
.fuchsia-5 {color: #d946ef;}
.fuchsia-6 {color: #c026d3;}
.fuchsia-7 {color: #a21caf;}
.fuchsia-8 {color: #86198f;}
.fuchsia-9 {color: #701a75;}
.fuchsia-10 {color: #4a044e;}

.pink-0 {color: #fdf2f8;}
.pink-1 {color: #fce7f3;}
.pink-2 {color: #fbcfe8;}
.pink-3 {color: #f9a8d4;}
.pink-4 {color: #f472b6;}
.pink-5 {color: #ec4899;}
.pink-6 {color: #db2777;}
.pink-7 {color: #be185d;}
.pink-8 {color: #9d174d;}
.pink-9 {color: #831843;}
.pink-10 {color: #500724;}
