@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

h1,
h2,
h3,
h4 {
  font-family: "Poppins";
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem); /* 32px - 48px */
  line-height: clamp(1.2, 3vw, 1rem); /* 19,2px - 16px*/
}

h2 {
  font-size: clamp(1.75rem, 4vw, 2.25rem); /* 28px - 36px*/
  line-height: clamp(2.5rem, 5vw, 2.25rem); /* 40px 36px*/
}

h3 {
  font-size: clamp(1.5rem, 3.5vw, 1.875rem); /* 24px - 30px*/
  line-height: clamp(2.25rem, 4vw, 2rem); /* 36px - 32px*/
}

h4 {
  font-size: clamp(1.25rem, 3vw, 1.5rem); /* 20px - 24px*/
  line-height: clamp(2rem, 4vw, 1.75rem); /* 32px - 28px*/
}

p,
li,
a {
  font-size: clamp(0.875rem, 2.5vw, 1rem); /* 14px - 16px */
  line-height: clamp(1.5, 3vw, 1); /* 24px - 16px */
  font-family: "Roboto";
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.line-break {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}
.line-break-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
