.button {
    padding: 8px 13px;
    background: linear-gradient(#fed7aa, #fb923c);
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0 0 2px var(--orange-5);
    text-transform: uppercase;
    font-weight: 600;
    width: max-content;
    height: max-content;
  }

  .button:hover {
    background: linear-gradient(#ffb60d, #e59317);
  }

  /* @media (width <= 768px) {
    .button {
      padding: 18px 10px;
      font-size: 0.9rem;
    }
  } */