header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding-inline: 5px;
}

.header-nav {
  display: flex;
  align-items: center;
}

nav {
  max-width: max-content;
  margin: 0 auto;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul::before {
  content: "";
  width: 2px;
  height: 30px;
  background-color: var(--slate-6);
  position: relative;
  top: 1px;
  left: 0px;
  margin-left: 23px;
}

nav ul li {
  padding: 8px 10px;
  border-radius: var(--border-radius);
  line-height: 1;
}

nav a {
  color: var(--slate-2);
  text-decoration: none;
  transition: color 0.2s ease;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  font-size: 1.2rem;
  line-height: 1;
}

main {
  /* padding: 5px; */
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  text-align: center;
  color: var(--color);
  background-color: black;
  box-shadow: 0 0 15px var(--gray-8);
  margin-top: 50px;
}

footer a {
  text-decoration: none;
  color: inherit;
}

.footer__social-media {
  display: flex;
  justify-content: center;
  gap: 15px;
}

footer span {
  display: inline-block;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.footer__social-media svg {
  width: 23px;
  fill: var(--slate-2)
}

footer span:last-child {
  grid-column: 1/4;
  font-family: inherit;
  font-size: .9rem;
  font-weight: bold;
  margin-top: 30px;
}

@media (max-width: 630px) {
  header {
    flex-direction: column;
  }

  .header-nav {
    flex-direction: column;
    margin-block: 8px;
  }

  nav {
    margin-top: 0;
    padding: 0;
  }

  nav ul::before {
    display: none;
  }

  #light-mode {
    position: absolute;
    top: 11px;
    right: 10px;
  }

  footer span:last-child {
  margin-top: 0;
}
}

@media (max-width: 700px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}
