@import "./imports.css";

:root {
  --background-color: #18191f;
  --color: var(--slate-4);
  --icon-color: var(--gray-1);
  --border-radius: 5px;
  --header: max-content;
}

[data-theme="dark"] {
  --background-color: #e0e0e0;
  --color: #000000;
  --icon-color: #18191f;
}

body {
  padding: var(--padding);
  background-color: var(--background-color, #fff);
  color: var(--color);
}

.layout {
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100dvh;
}

header {
  grid-area: header;
  border: 1px solid var(--gray-4);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-family: "BBH Sans Bartle", sans-serif;
  line-height: 1;
  color: #000;
  text-shadow: 1px 1px 5px rgba(0, 255, 255, 0.6);
  font-style: italic;
  padding-left: 8px;
}

nav {
  grid-area: nav;
  border: 1px solid var(--gray-4);
  padding: 5px 5px 5px 7px;
  border-radius: var(--border-radius);
  width: 100px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

nav.visible {
  display: block;
}

main {
  padding: 5px;
  height: 100%;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header"
      "nav main"
      "nav footer";
    gap: 5px;
  }
}

@media (min-width: 700px) {
  #menu {
    display: none;
  }
}

@media (max-width: 700px) {
  
  nav {
    display: none;
    width: 100%;
    margin-top: 10px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }
}
